<p id="notice"><%= notice %></p>
<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @client.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @client.last_name %>
  </p>

  <%= link_to 'Edit', edit_client_path(@client) %> |
  <%= link_to 'Back', clients_path %>
</div>