<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @ingredient.name %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= @ingredient.unit %>
  </p>

  <%= link_to fa_icon("pencil-alt", class: "action-icons edit-icon"), edit_ingredient_path(@ingredient), class: "action-link", title: "edit" %>
  <%= link_to fa_icon("reply", class:"action-icons return-icon"), ingredients_path, class: "action-link" %>
</div>
