<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @meal.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @meal.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @meal.price %>
  </p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Ingredient</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
      <% @meal.meal_details.each do |detail| %>
        <tr>
          <td><%= detail.ingredient.name %></td>
          <td><%= detail.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Edit', edit_meal_path(@meal) %> |
  <%= link_to 'Back', meals_path %>
</div>
